---
const {hub, title, folderPath} = Astro.props;
console.log(folderPath.slice(0,folderPath.indexOf('practiceFolder')+1).join('/'));
---
<div class="Header">
    <pre>BiReynolds</pre>
    {folderPath.map((folder)=> (
        <pre> -> </pre><a href={'/'+folderPath.slice(0,folderPath.indexOf(folder)+1).join('/')}>{folder}</a>
    ))}
    <pre> -> </pre>{title}
</div>