---
const { hub, parentFolder, contents } = Astro.props;
---
<div class="Sidebar">
    <br/>
    <h2>{parentFolder}</h4>
    {hub ? <ul>
        {contents.map((link) => (
            <li><a href={parentFolder+'/'+link}>{link}</a></li>
            ))}
    </ul> : <ul>
        bleh
    </ul>
</div>