---
const { hub, folderPath, parentFolder, contents } = Astro.props;
console.log(folderPath);
let stringFolderPath = folderPath.join('/');
---
<div class="Sidebar">
    <h3>{parentFolder}</h3>
    {hub ? <ol>
        {contents.map((link) => (
            <li><a href={'/'+folderPath.join('/')+'/'+link}>{link}</a></li>
            ))}
    </ol> : <ol>
        {contents.map((link) => (
            <li><a href={link.url}>{link.frontmatter.title}</a></li>
            ))}
    </ol>}
</div>