---
const { parentFolder, contents } = Astro.props;
---
<div class="Sidebar">
    <br/>
    <h2>{parentFolder}</h4>
    <ul>
        {contents.map((link) => (
            <li><a href={link.url}>{link.frontmatter.title}</a></li>
            ))}
    </ul>
</div>