:root {
  --accentYellow: #ffe019;
  --accentBlue: #19ffe0;
  --accentPurple: #e019ff;
}

body {
  height: 100vh;
  margin: 0;
}

h1 {
  color: var(--accentPurple);
}


a {
  color: var(--accentYellow);
}

a:hover {
  background-color: blue;
}
