---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
const {frontmatter} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/PersonalSite/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/PersonalSite/base.css">
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <Header folderpath = {['folder1','folder2','folder3']}/>
		<Sidebar parentFolder="Parent Folder" contents={['content1','content2','content3']}/>
        <slot name="content"/>
	</body>
</html>
